/* POSITIONING & ALIGNMENT */

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 18%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.section-one {
    display: flex;
    justify-content: space-between;
    padding: 100px 18%;
    flex: 0 1 auto;
    gap: 16px;
}

.section-one .text {
    max-width: 40%;
    flex: 0 1 auto;
}

.section-one .image {
    min-width: 0;
    max-width: 60%;
    flex: 1 1 auto;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.secondary-text {
    margin: 10px 0px;
}

.section-two {
    display: flex;
    flex-direction: column;
    padding: 48px 18%;
    padding-bottom: 80px;
}

.section-two .title {
    text-align: center;
    margin-bottom: 48px;
}

.content {
    display:flex;
    justify-content: center;
    gap: 64px;
}

.block-one,
.block-two,
.block-three,
.block-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    width: 160px;
}

.section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 18%;
}

.quote-author {
    text-align: right; 
}

.footer {
    text-align: center;
    padding: 24px;
}

.section-four {
    display: flex;
    padding: 80px 18%;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 96px;
}

/* DESIGN */

.header, .footer {
    background-color: #1F2937;
}

.footer {
    font-size: 16px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: red;
}

.logo {
    font-size: 24px;
    font-weight: 900;    
    color: #F9FAF8;
    font-family: "Roboto", Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.header-link {
    font-size: 18px;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #E5E7EB;
}

.section-one {
    background-color: #1F2937;
}

.section-one .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: "Roboto", Helvetica, sans-serif
}

.section-one .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    font-family: "Roboto", Helvetica, sans-serif;
}

.signup-button-one {
    background: #3882F6;
    padding: 8px 32px;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: "Roboto", Helvetica, sans-serif;
    border-radius: 8px;
    border: 1px solid;
    border-color: #3882F6;
    margin-top: 8px;
    transition-duration: 0.4s;
}

.signup-button-one:hover {
    background: none;
    color: #3882F6;
    border-color: #3882F6;
}

.section-two {
    background-color: #F9FAF8;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    font-family: "Roboto", Helvetica, sans-serif;
}

.block {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 8px;
}

.block-text {
    font-size: 18px;
    color: #1F2937;
}

.section-three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    font-family: "Roboto", Helvetica, sans-serif;
    width: 800px;
}

.quote-author {
    font-size: 18px;
    font-weight: bolder;
    color: #1F2937;
    font-family: "Roboto", Helvetica, sans-serif;
    width: 800px;
}

.section-four {
    background-color: #F9FAF8;
}

.modal {
    width: 100%;
    height: 125px;
    background-color: #3882F6;
    border-radius: 8px;
}

.main-message {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: "Roboto", Helvetica, sans-serif;
}

.sub-message {
    font-size: 18px;
    font-weight: lighter;
    color: #F9FAF8;
    font-family: "Roboto", Helvetica, sans-serif;
}

.signup-button-two {
    background: #3882F6;
    padding: 8px 32px;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: "Roboto", Helvetica, sans-serif;
    border-radius: 8px;
    border: 1px solid #3882F6;
    border-color: #F9FAF8;
    margin-top: 8px;
    transition-duration: 0.4s;
}

.signup-button-two:hover {
    background: #F9FAF8;
    color: #3882F6;
}